In [20]:
import pandas as pd
import numpy as np
from google.colab import files

In [21]:
admissions = pd.read_csv("admissions_data.csv")
admissions

      areaType areaName   areaCode        date  newAdmissions  cumAdmissions
0    nhsRegion   London  E40000003  27/12/2021            437          95066
1    nhsRegion   London  E40000003  26/12/2021            374          94629
2    nhsRegion   London  E40000003  25/12/2021            364          94255
3    nhsRegion   London  E40000003  24/12/2021            278          93891
4    nhsRegion   London  E40000003  23/12/2021            390          93613
..         ...      ...        ...         ...            ...            ...
644  nhsRegion   London  E40000003  23/03/2020            505           1663
645  nhsRegion   London  E40000003  22/03/2020            335           1158
646  nhsRegion   London  E40000003  21/03/2020            311            823
647  nhsRegion   London  E40000003  20/03/2020            272            512
648  nhsRegion   London  E40000003  19/03/2020            240            240

[649 rows x 6 columns]

In [22]:
admissions = admissions.drop(["areaType", "areaName", "areaCode", "cumAdmissions"], axis = 1)

In [23]:
admissions

           date  newAdmissions
0    27/12/2021            437
1    26/12/2021            374
2    25/12/2021            364
3    24/12/2021            278
4    23/12/2021            390
..          ...            ...
644  23/03/2020            505
645  22/03/2020            335
646  21/03/2020            311
647  20/03/2020            272
648  19/03/2020            240

[649 rows x 2 columns]

In [24]:
boosters = pd.read_csv("booster_data.csv")
boosters

    areaType  ... cumPeopleVaccinatedThirdInjectionByVaccinationDate
0     region  ...                                          3460494.0
1     region  ...                                          3430144.0
2     region  ...                                          3398465.0
3     region  ...                                          3392501.0
4     region  ...                                          3390122.0
..       ...  ...                                                ...
381   region  ...                                                NaN
382   region  ...                                                NaN
383   region  ...                                                NaN
384   region  ...                                                NaN
385   region  ...                                                NaN

[386 rows x 10 columns]

In [25]:
boosters = boosters.drop(["areaType", "areaName", "areaCode", "newPeopleVaccinatedFirstDoseByVaccinationDate", "cumPeopleVaccinatedFirstDoseByVaccinationDate", "newPeopleVaccinatedSecondDoseByVaccinationDate", "cumPeopleVaccinatedSecondDoseByVaccinationDate", "cumPeopleVaccinatedThirdInjectionByVaccinationDate"], axis = 1)

In [26]:
df = pd.merge(admissions, boosters, on="date")

In [27]:
df

           date  ...  newPeopleVaccinatedThirdInjectionByVaccinationDate
0    27/12/2021  ...                                            31679.0
1    26/12/2021  ...                                             5964.0
2    25/12/2021  ...                                             2379.0
3    24/12/2021  ...                                            27540.0
4    23/12/2021  ...                                            67358.0
..          ...  ...                                                ...
380  12/12/2020  ...                                                NaN
381  11/12/2020  ...                                                NaN
382  10/12/2020  ...                                                NaN
383  09/12/2020  ...                                                NaN
384  08/12/2020  ...                                                NaN

[385 rows x 3 columns]

In [28]:
df = df[df['newPeopleVaccinatedThirdInjectionByVaccinationDate'].notna()]

In [29]:
df

           date  ...  newPeopleVaccinatedThirdInjectionByVaccinationDate
0    27/12/2021  ...                                            31679.0
1    26/12/2021  ...                                             5964.0
2    25/12/2021  ...                                             2379.0
3    24/12/2021  ...                                            27540.0
4    23/12/2021  ...                                            67358.0
..          ...  ...                                                ...
374  18/12/2020  ...                                                0.0
375  17/12/2020  ...                                                0.0
376  16/12/2020  ...                                                0.0
377  15/12/2020  ...                                                0.0
378  14/12/2020  ...                                                1.0

[379 rows x 3 columns]

In [30]:
df2 = df.set_index("date")

In [31]:
df2

            newAdmissions  newPeopleVaccinatedThirdInjectionByVaccinationDate
date
27/12/2021            437                                            31679.0
26/12/2021            374                                             5964.0
25/12/2021            364                                             2379.0
24/12/2021            278                                            27540.0
23/12/2021            390                                            67358.0
...                   ...                                                ...
18/12/2020            357                                                0.0
17/12/2020            366                                                0.0
16/12/2020            252                                                0.0
15/12/2020            332                                                0.0
14/12/2020            292                                                1.0

[379 rows x 2 columns]

In [ ]:
# keeping only data for the timeframe in which boosters have been being administered

In [32]:
df = df[(df['newPeopleVaccinatedThirdInjectionByVaccinationDate'] > 0)]

In [33]:
df

           date  ...  newPeopleVaccinatedThirdInjectionByVaccinationDate
0    27/12/2021  ...                                            31679.0
1    26/12/2021  ...                                             5964.0
2    25/12/2021  ...                                             2379.0
3    24/12/2021  ...                                            27540.0
4    23/12/2021  ...                                            67358.0
..          ...  ...                                                ...
369  23/12/2020  ...                                                3.0
370  22/12/2020  ...                                                3.0
371  21/12/2020  ...                                                1.0
372  20/12/2020  ...                                                1.0
378  14/12/2020  ...                                                1.0

[343 rows x 3 columns]

In [34]:
df.to_csv("admissions_boosters2.csv", index=False)

In [35]:
files.download("admissions_boosters2.csv")