In [229]:
%matplotlib inline
import os  
import numpy as np  
import pandas as pd  
import matplotlib.pyplot as plt  
import statsmodels.api as sm  
import seaborn as sb

In [230]:
pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.69)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.7.1)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)

In [231]:
import yfinance as yf

In [232]:
sp = yf.download('SNP', start='2020-12-25', end='2022-01-13')

[*********************100%***********************]  1 of 1 completed

In [233]:
sp

                 Open       High        Low      Close  Adj Close  Volume
Date
2020-12-28  45.020000  45.480000  45.009998  45.160000  41.394691  214400
2020-12-29  45.320000  45.459999  44.980000  45.049999  41.293861  193800
2020-12-30  45.220001  45.520000  45.150002  45.220001  41.449692  141900
2020-12-31  44.799999  44.880001  44.480000  44.599998  40.881382  171500
2021-01-04  44.299999  45.279999  44.299999  44.860001  41.119705  294600
...               ...        ...        ...        ...        ...     ...
2022-01-06  49.099998  49.480000  49.000000  49.459999  49.459999  107900
2022-01-07  49.599998  50.279999  49.599998  50.220001  50.220001  123400
2022-01-10  49.810001  49.950001  49.259998  49.299999  49.299999   81700
2022-01-11  50.029999  50.840000  49.700001  50.820000  50.820000   86800
2022-01-12  50.810001  51.290001  50.689999  51.189999  51.189999  201300

[264 rows x 6 columns]

In [234]:
sp.reset_index()

          Date       Open       High        Low      Close  Adj Close  Volume
0   2020-12-28  45.020000  45.480000  45.009998  45.160000  41.394691  214400
1   2020-12-29  45.320000  45.459999  44.980000  45.049999  41.293861  193800
2   2020-12-30  45.220001  45.520000  45.150002  45.220001  41.449692  141900
3   2020-12-31  44.799999  44.880001  44.480000  44.599998  40.881382  171500
4   2021-01-04  44.299999  45.279999  44.299999  44.860001  41.119705  294600
..         ...        ...        ...        ...        ...        ...     ...
259 2022-01-06  49.099998  49.480000  49.000000  49.459999  49.459999  107900
260 2022-01-07  49.599998  50.279999  49.599998  50.220001  50.220001  123400
261 2022-01-10  49.810001  49.950001  49.259998  49.299999  49.299999   81700
262 2022-01-11  50.029999  50.840000  49.700001  50.820000  50.820000   86800
263 2022-01-12  50.810001  51.290001  50.689999  51.189999  51.189999  201300

[264 rows x 7 columns]

In [235]:
sp = sp.drop(["Open",	"High",	"Low",	"Adj Close",	"Close"], axis = 1)
sp

            Volume
Date
2020-12-28  214400
2020-12-29  193800
2020-12-30  141900
2020-12-31  171500
2021-01-04  294600
...            ...
2022-01-06  107900
2022-01-07  123400
2022-01-10   81700
2022-01-11   86800
2022-01-12  201300

[264 rows x 1 columns]

In [236]:
# importing the dickey fuller test from stats models

In [237]:
from statsmodels.tsa.stattools import adfuller

In [238]:
# defining the adf test for my data, and telling the function to print the DF stat, p and critical values, and using a for loop for the 4th result
# indicating the unit (%) and the number of decimal places:

In [239]:
def adf_test(sp):
    result = adfuller(sp.values)
    print('ADF Statistics: %f' % result[0])
    print('p-value: %f' % result[1])
    print('Critical values:')
    for key, value in result[4].items():
        print('\t%s: %.3f' % (key, value))

In [240]:
print('ADF Test: S&P 500 time series')
adf_test(sp['Volume'])

ADF Test: S&P 500 time series
ADF Statistics: -10.272042
p-value: 0.000000
Critical values:
	1%: -3.455
	5%: -2.873
	10%: -2.573

In [241]:
sp

            Volume
Date
2020-12-28  214400
2020-12-29  193800
2020-12-30  141900
2020-12-31  171500
2021-01-04  294600
...            ...
2022-01-06  107900
2022-01-07  123400
2022-01-10   81700
2022-01-11   86800
2022-01-12  201300

[264 rows x 1 columns]

In [242]:
# now importing the sentiment data:

In [243]:
sen = pd.read_csv("sentiment_time_series_daily_nicedates.csv", parse_dates=['numdate'], dayfirst = True)

In [244]:
sen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   numdate   347 non-null    datetime64[ns]
 1   polarity  347 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.5 KB

In [245]:
sp

            Volume
Date
2020-12-28  214400
2020-12-29  193800
2020-12-30  141900
2020-12-31  171500
2021-01-04  294600
...            ...
2022-01-06  107900
2022-01-07  123400
2022-01-10   81700
2022-01-11   86800
2022-01-12  201300

[264 rows x 1 columns]

In [246]:
ts = sp

In [247]:
ts = ts.reset_index()

In [248]:
# converting all dates to datetimes and merging the dataframes

In [249]:
ts['Date']= pd.to_datetime(ts['Date'])

In [250]:
ts["numdate"] = ts["Date"]

In [251]:
ts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     264 non-null    datetime64[ns]
 1   Volume   264 non-null    int64
 2   numdate  264 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1)
memory usage: 6.3 KB

In [252]:
df = ts.merge(sen, how="outer", on="numdate")

In [253]:
df

          Date    Volume    numdate  polarity
0   2020-12-28  214400.0 2020-12-28       NaN
1   2020-12-29  193800.0 2020-12-29       NaN
2   2020-12-30  141900.0 2020-12-30       NaN
3   2020-12-31  171500.0 2020-12-31       NaN
4   2021-01-04  294600.0 2021-01-04  0.099399
..         ...       ...        ...       ...
366        NaT       NaN 2021-12-18  0.137196
367        NaT       NaN 2021-12-19  0.139147
368        NaT       NaN 2021-12-24  0.105533
369        NaT       NaN 2021-12-25  0.098388
370        NaT       NaN 2021-12-26  0.133945

[371 rows x 4 columns]

In [254]:
df = df.drop(["Date"], axis = 1)

In [255]:
df

       Volume    numdate  polarity
0    214400.0 2020-12-28       NaN
1    193800.0 2020-12-29       NaN
2    141900.0 2020-12-30       NaN
3    171500.0 2020-12-31       NaN
4    294600.0 2021-01-04  0.099399
..        ...        ...       ...
366       NaN 2021-12-18  0.137196
367       NaN 2021-12-19  0.139147
368       NaN 2021-12-24  0.105533
369       NaN 2021-12-25  0.098388
370       NaN 2021-12-26  0.133945

[371 rows x 3 columns]

In [256]:
df = df.dropna()

In [257]:
df

       Volume    numdate  polarity
4    294600.0 2021-01-04  0.099399
5    268600.0 2021-01-05  0.118021
6    221600.0 2021-01-06  0.108945
7    199700.0 2021-01-07  0.118736
8    229000.0 2021-01-08  0.108152
..        ...        ...       ...
251   62000.0 2021-12-27  0.121795
252   89600.0 2021-12-28  0.095049
253  142000.0 2021-12-29  0.114317
254  155700.0 2021-12-30  0.087820
255   52600.0 2021-12-31  0.114764

[240 rows x 3 columns]

In [258]:
df = df.set_index(df["numdate"])

In [259]:
df

              Volume    numdate  polarity
numdate
2021-01-04  294600.0 2021-01-04  0.099399
2021-01-05  268600.0 2021-01-05  0.118021
2021-01-06  221600.0 2021-01-06  0.108945
2021-01-07  199700.0 2021-01-07  0.118736
2021-01-08  229000.0 2021-01-08  0.108152
...              ...        ...       ...
2021-12-27   62000.0 2021-12-27  0.121795
2021-12-28   89600.0 2021-12-28  0.095049
2021-12-29  142000.0 2021-12-29  0.114317
2021-12-30  155700.0 2021-12-30  0.087820
2021-12-31   52600.0 2021-12-31  0.114764

[240 rows x 3 columns]

In [260]:
df = df.drop(["numdate"], axis = 1)

In [261]:
df

              Volume  polarity
numdate
2021-01-04  294600.0  0.099399
2021-01-05  268600.0  0.118021
2021-01-06  221600.0  0.108945
2021-01-07  199700.0  0.118736
2021-01-08  229000.0  0.108152
...              ...       ...
2021-12-27   62000.0  0.121795
2021-12-28   89600.0  0.095049
2021-12-29  142000.0  0.114317
2021-12-30  155700.0  0.087820
2021-12-31   52600.0  0.114764

[240 rows x 2 columns]

In [262]:
# now performing the granger causality test
# Toda, H. Y and T. Yamamoto (1995). Statistical inferences in vector autoregressions with possibly integrated processes. Journal of Econometrics, 66, 225-250.

In [263]:
from statsmodels.tsa.stattools import grangercausalitytests

In [264]:
# I chose a maximum lag of 2, as I am looking for people's immediate reaction and it's impact on the market:

In [265]:
maxlag=2
test = 'ssr_chi2test'

In [266]:
def grangers_causation_matrix(data, variables, test='ssr_chi2test', verbose=False):    
   
    df = pd.DataFrame(np.zeros((len(variables), len(variables))), columns=variables, index=variables)
    for c in df.columns:
        for r in df.index:
            test_result = grangercausalitytests(data[[r, c]], maxlag=maxlag, verbose=False)
            p_values = [round(test_result[i+1][0][test][1],4) for i in range(maxlag)]
            if verbose: print(f'Y = {r}, X = {c}, P Values = {p_values}')
            min_p_value = np.min(p_values)
            df.loc[r, c] = min_p_value
    df.columns = [var + '_x' for var in variables]
    df.index = [var + '_y' for var in variables]
    return df

In [267]:
# with help from Wilson Mupfururirwa on StackOverflow

In [268]:
grangers_causation_matrix(df, variables = df.columns)

            Volume_x  polarity_x
Volume_y      1.0000      0.3178
polarity_y    0.0023      1.0000

In [ ]:
# based on the 0.0023 p-value, we can conclude that polarity_y granger causes volume_x at 5% significance level

In [269]:
# polarity_y and snp_y indicate the responses, and polarity_x and snp_x the predictors

In [270]:
# as neither of the values is less than 0.05, we cannot reject the null hypothesis that sentiment in r/stocks is not 
# predictive of the value of the S&P index.

In [271]:
df.to_csv("sp_and_sentiment.csv")

In [272]:
from google.colab import files

In [273]:
files.download("sp_and_sentiment.csv")